body {
  background-color: gray;
}

.colorBlock {
  min-height: 75dvh;
  background-color: red;
}

.bigArrow {
  font-size: 20rem;
  
}

.shadow {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
}
